{% extends 'app/base.html' %}
{% load static %}

{% block nav_bar %}
  <li><a href="{% url 'examples' %}">Примеры</a></li>
  <li class='active'><a href="{% url 'contacts' %}">Контакты</a></li>
  <li><a href="{% url 'about' %}">О проекте</a></li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <h1 class="col s12">Где можно посмотреть и купить</h1>

      <div class="col s12 m8">
          <div>Ждем вас по адресу
              <b>Кремниевая долина, Купертино, Калифорния</b>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
